[Unit]
Description=linuxmuster.net API
After=network.target

[Service]
WorkingDirectory=/usr/lib/python3/dist-packages/linuxmusterApi
ExecStart=/usr/lib/python3/dist-packages/linuxmusterApi/main.py

[Install]
WantedBy=multi-user.target
