[bumpversion]
current_version = 7.4.6
commit = True
tag = True

[bumpversion:file:usr/lib/python3/dist-packages/linuxmusterApi/vars.py]
search = VERSION = "{current_version}"
replace = VERSION = "{new_version}"
